#contentBlock header {
    display: none;
}

#ctl00_SiteContent_templatesBlock {
    display: none;
}

#passportMenu {
    display: none;
}

#bott_link {
    display: none;
}

topAdvert {
    display: none;
}

#topAdvert {
    display: none;
}

#subscribeForm {
    display: none;
}

#adv4Blocks {
    display: none;
}

#bottomAdvSection {
    display: none;
}

#blogRSS {
    display: none;
}

#rightSection {
    display: none;
}

#resultBlock {
    float: none;
    width: 100%;
}

#sourceBlock {
    float: none;
    width: 100%;
}

#viewMode {
    display: none;
}

#viewModeBlock {
    display: none;
}

#tmOther {
    display: none;
}

btr_web {
    background-color: #ccc;
}

#mainSection {
    margin: 0;
}

#contentBlock {
    border: none;
    border-radius: 0;
    box-shadow: 0;
    margin: 0;
    max-width: 100%;
}

#dir_set {
    margin: 0;
}

#dmenu {
    float: none;
}

#btr_web {
    float: none;
}

.selDiv {
    padding: 0;
    float: none;
}

#ctl00_SiteContent_rLang {
    min-width: 0;
}

select {
    border: 1px solid;
}

#ctl00_SiteContent_sLang {
    min-width: 0;
}

.wrapp {
    background-image: none;
    padding: 0;
}

#bTranslate {
    margin-left: 1em;
    padding: 2px;
    font-weight: normal;
    background-color: #ccc;
    -webkit-border-radius: 2px;
    color: #003333;
    border: 0px #555555 solid;
}

body {
    background: none;
}
