<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  
  <MsmqTransportConfig ErrorQueue="NServiceBusExample.OrderService.error" NumberOfWorkerThreads="1" MaxRetries="5"/>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="NServiceBusExample.OrderService.Contracts" Endpoint="NServiceBusExample.OrderService"/>
      <add Messages="NServiceBusExample.PaymentService.Contracts" Endpoint="NServiceBusExample.PaymentService"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
</configuration>
