.textsm {
    display: none;
}

.fingering {
    display: none;
}

.author-small {
    display: none;
}

p .first {
    display: none;
}

.first {
    display: block;
}

#container {
    display: none;
}

#search, #search a {
    font-size: 1em;
}

#search {
    margin-top: 0px;
    padding: 0px;
    background: none;
    height: 0px;
}

.clearFloat {
    display: none;
}

#search .search-accords {
    height: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.search-accords .search-accords-text {
    background: none;
}

#accords_title {
    display: none;
}

#mediaplayer_wrapper {
    display: none;
}

#vk_like {
    display: none;
}

#vk_comments {
    display: none;
}

noindex {
    display: none;
}

.lenta {
    display: none;
}

.frame .songs-author {
    display: none;
}

#footer {
    display: none;
}

.footer-line-3 {
    display: none;
}

.accords_right-td-top {
    display: none;
}

#frame1 {
    display: none;
}

#frame2 {
    display: none;
}

#frame3 {
    display: none;
}

#frame4 {
    display: none;
}

.news {
    display: none;
}

.index_column {
    display: none;
}

#guitar_bg_left {
    background: none;
}

#index_guitar {
    background: none;
}

.lenta_orange {
    display: none;
}

.new {
    display: none;
}

.new2 {
    display: none;
}

